@page
@model MyApp.Namespace.ProfileModel
@{
    ViewData["Title"] = "About me";
}
<h1>@ViewData["Title"]</h1>
<div>
    <h2>Profile info</h2>
    <ul>
        <li>Name: @Model.Name</li>
        <li>Email: @Model.Email</li>
    </ul>
    <form method="post" asp-page-handler="ForgetMe"> 
        <button type="submit" style="background-color: rgb(227,11,92); color: white; width: 140px; margin-bottom: 70px" >Forget Me!</button>
    </form>
    

    <h2>Following</h2>
    @if (Model.Following.Any())
    {
        <ul>
            @foreach (var author in Model.Following)
            {
                <li>
                    <a href="/@author.Name">@author.Name</a>
                </li>
            }

        </ul>
    } else {
        <p>You do not follow anyone.</p>
    }

    

    <h2>Your cheeps</h2>
    <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                    </p>
                    <p>@cheep.Message</p>
                    <small>&mdash; @cheep.Timestamp</small>
                </li>
            }
        </ul>



</div>
